body
    padding-top 60px
    padding-bottom 60px

form.navbar-form
    height 40px

@media (max-width: 979px) 
    body 
        padding-top 40px
        padding-bottom 40px 

.timestamp
    font-size 66%
    color #888

@media (max-width: 979px)
    .navbar-fixed-top.navbar-absolute,
    .navbar-fixed-bottom.navbar-absolute
        position fixed
        margin 0px

    .navbar-absolute + div
        margin-top 68px