.chat(ng-controller='ChatCtrl')
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.brand(href="#") Chats

                ul.nav
                    li.divider-vertical
                    li
                        a(href='/#/') Main Room
                    li(ng-repeat='room in roomArray')
                        a(href="#/{{room.name}}") {{room.name}}

                form.navbar-form.pull-right
                    div.input-prepend
                        span.add-on 
                            i.icon-user
                        input.input-large(type='text', ng-model='username', placeholder='Enter your name!', autofocus)
    .container
        div.row-fluid
            span.span2
                i.pull-right Username
            span.span10 Message

        div.row-fluid(ng-repeat='(messageNumber, message) in messageArray')
            span.span2
                i.pull-right {{message.username}}
                br
                .pull-right.timestamp {{message.timestamp}}
            span.span10 
                span.pull-left {{message.text}}
                        
    .navbar.navbar-fixed-bottom
        .navbar-inner
            .container
                form.navbar-form(ng-submit='sendMessage()')
                    div.input-append
                        input.input-large(type='text', ng-model='messageText', placeholder='Enter your message!')
                        button.btn(type='submit')
                            i.icon-bullhorn