.navbar.navbar-fixed-top
    .navbar-inner
        .container
            a.brand(href="#") Chats
            form.navbar-form.pull-right
                div.input-prepend
                    span.add-on Name:
                    input.input-large(type='text', ng-model='username', placeholder='Enter your name!')
.container
    .row-fluid
        #headerContainer.span10
            h3.inline Messages: 

            table.table.table-bordered.table-hover
                thead
                    tr
                        th
                            i.pull-right Username
                        th Message
                tbody
                    tr
                        td
                            i.pull-right lezed1
                        td Hello
                    tr
                        td
                            i.pull-right lezed1
                        td Hello
                    tr
                        td
                            i.pull-right lezed1
                        td Hello
                    tr(ng-repeat='(messageNumber, message) in messageArray')
                        td
                            i.pull-right {{message.username}}
                        td {{message.text}}
                    
.navbar.navbar-fixed-bottom
    .navbar-inner
        .container
            form.navbar-form(ng-submit='sendMessage()')
                div.input-append
                    input(type='text', form='messageContainer', ng-model='messageText', placeholder='Enter your message!')
                    button.btn(type='submit', ng-click='sendMessage()') Send

