.chat(ng-controller='ChatCtrl')
    .navbar.navbar-fixed-top.navbar-absolute
        .navbar-inner
            .container
                a.brand(href="#") Chats

                ul.nav
                    li.divider-vertical
                    li.first-nav
                        a(href='/#/') Main Room
                    li(ng-repeat='(roomName, room) in roomList')
                        a(href="#/{{roomName}}") {{roomName}}

                form.navbar-form.pull-right
                    div.input-prepend
                        span.add-on 
                            i.icon-user
                        input.input-large(type='text', ng-model='username', placeholder='Enter your name!', autofocus)
    .container-fluid
        div.row-fluid
            .span12.visible-desktop.visible-tablet
                .span2
                    em.pull-right Username
                strong.span10 Message
            .span12.visible-phone
                em Username: 
                strong Message

        div.row-fluid(ng-repeat='(messageNumber, message) in messageArray')
            .strong12.visible-desktop.visible-tablet
                .span2
                    em.pull-right {{message.username}}
                    br
                    .pull-right.timestamp {{message.timestamp}}
                strong.span10 
                    .pull-left {{message.text}}
            .span12.visible-phone
                em {{message.username}}: 
                strong {{message.text}}
                .pull-right.timestamp {{message.timestamp}}
        .to-bottom
                        
    .navbar.navbar-fixed-bottom.navbar-absolute
        .navbar-inner
            .container
                form.navbar-form(ng-submit='sendMessage()')
                    div.input-append
                        input.input-large(type='text', ng-model='messageText', placeholder='Enter your message!')
                        button.btn(type='submit')
                            i.icon-bullhorn